.App {
  text-align: center;
  max-width: 500px;
  width: 100%;
  min-height: 400px;
  box-shadow: 0 2px 6px #555;
  margin: 50px auto;
  padding: 50px;
  background-color: pink;
}

h1{
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 900;
  color: #666;
}
form{
  width: 100%;
  height: 40px;
  margin: 20px 0;
  display: flex;
}
form input,
form button{
  flex:3;
  border: none;
  outline: none;
  border-bottom: 1px solid #555;
  margin: 0 5px;
}
form button{
  flex: 1;
  background: #555;
  color: white;
  letter-spacing: 2px;
  cursor: pointer;
}
ul li{
  list-style: none;
  border: 1px solid black;
  margin: 10px 0;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: capitalize;
}
.checkbox {
  cursor: pointer;
}
#delete{
  background: crimson;
  cursor: pointer;
}

.completed {
  text-decoration: line-through;
  color: green;
}

@media (max-width: 400px){
  .App{
    width: 75%;
    padding: 10px;
  }
}
